body{
     margin: 0;
    padding: 0;
}

#wrapper{
    display: flex;
    flex-direction: column;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#top{
    display: flex;

    justify-content: space-evenly;
    
}
#test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
#readyCheck{
    display: none;
}
#canvasHolder{
    display: flex;
    justify-content: space-evenly;
}
#userHolder{
    height: 200px;
    width: 300px;
}
#canvas{
    border: 3px solid black;
    background-color: white;
}
.username{
    color: antiquewhite;
    border-bottom: 1px snow solid;
    width: fit-content;
}